:root {
    --bg-color-1: greenyellow; /*просто цвет*/
    --bg-color-2: rgb(42, 42, 42); /*бг*/
}

* {
    color: greenyellow;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    /* background-color: var(--bg-color-2); */
    background: var(--bg-color-2);
    font-size: 25px;
}

button {
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 2s;
    color: green;
}

button:hover {
    background-color: rgb(197, 253, 113);
    border-radius: 10px;
}

input {
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 2s;
    color: green;
}

a {
    color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 1s;
}

select {
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 2s;
    color: green;
}
select:hover {
    color: rgb(197, 253, 113);
}


a:hover {
    color: rgb(197, 253, 113);
}

footer {
    background: linear-gradient(var(--bg-color-2), var(--bg-color-1));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
}
header {
    background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
}
main {
    position: absolute;
    
    left: 0;
    top: 12%;
    width: 100%;
    height: 500px;
    overflow: auto;
}

header .navbtn {
    border-radius: 0;
    color: greenyellow;
    background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
    border-color: black;
    border-style: solid;
    width: auto;
    height: 75px;
}

main .block {
    background-color: rgba(136, 125, 125, 0.522);
    border-radius: 10px;
    max-width: 50%;
    font-size: 25px;
}



.chat {
    background-color: rgb(18, 18, 18);
    border-color: greenyellow;
    border-radius: 10px;
    border-style: solid;
    width: 650px;

    position: absolute;
    top: 100px;

    max-width: 650px;
    max-height: 450px;
    overflow: auto;
}

.chat .msg {
    background-color: rgba(49, 49, 49, 0.388);
    border-color: rgba(172, 255, 47, 0.388);
    font-size: 25px;
    font-weight: bold;
    
    width: 250px;
    max-width: 250px;
    max-height: 550px;
    overflow: auto;

    border-radius: 10px;
}

.sendmsg {
    position: absolute;
    bottom: 100px;
}