body {
    background-color: rgb(53, 53, 53);
    font-size: 25px;
}

button {
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 2s;
    color: wheat;
}

button:hover {
    background-color: rgb(197, 253, 113);
    border-radius: 10px;
}

input {
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 2s;
    color: wheat;
}

a {
    color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 1s;
}

select {
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    font-size: 25px;
    transition: 2s;
    color: wheat;
}
select:hover {
    color: rgb(197, 253, 113);
}


a:hover {
    color: rgb(197, 253, 113);
}

footer {
    background-color: rgb(153, 153, 153);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
}
header {
    background-color: rgb(153, 153, 153);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
}
main {
    position: absolute;
    
    left: 0;
    top: 12%;
    width: 100%;
    height: 500px;
    overflow: auto;
}

header .navbtn {
    border-color: rgb(116, 116, 116);
    border-radius: 0;
    background-color: rgb(116, 116, 116);
    width: auto;
    height: 75px;
}

main .block {
    background-color: rgba(136, 125, 125, 0.522);
    border-radius: 10px;
    max-width: 50%;
    font-size: 25px;
}